/* Englobando e importando os arquivos CSS */
@import '../css/style.css';
@import '../css/responsivo.css';

/* Importação do estilo da font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); 

/* Paleta de cores */
:root {
  --CorPrimaria: #742924;
  --CorSecundaria: #1A203A;
  --CorTercearia: #48505D;
  --CordeHover: #5472f8;
  --FontPadrao: "Poppins", sans-serif;
}